####################################
# Python
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd

####################################
# Virtual Environments
####################################
venv/
.env
.env.*
backend/venv/
frontend/venv/

####################################
# Terraform
####################################
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

####################################
# SSH Keys (VERY IMPORTANT)
####################################
*.pem
*.key
*.pub

####################################
# Docker
####################################
*.log

####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db
.vscode/
.idea/

####################################
# GitHub Actions artifacts (safety)
####################################
*.out
