name: CI Basics

on:
  push:
    branches:
        - main

jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
          - name: Say Hello
            run: echo "Hello world From GitHub Actions"