name: CI Basics

on:
  push:
    branches:
        - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout Code
            uses: actions/checkout@v4

          - name: Show Files in repo
            run: ls -al

          - name: Print Current Directoyr
            run: pwd