name: CI Basics

on:
  push:
    branches:
        - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout Code
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: "3.12"
          
          - name: Verify Python Version
            run: python --version

          - name : Install Dependencies
            run : |
              cd backend
              pip install -r requirements.txt
            
          - name: Backend Basic Import Check
            run: |
              cd backend
              python -c "import app"