name: CI Basics

on:
  push:
    branches:
        - main

jobs:
    backend-checks:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout Code
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: "3.12"

          - name : Install Dependencies
            run : |
              cd backend
              pip install -r requirements.txt
            
          - name: Backend Basic Import Checks
            run: |
              cd backend
              python -c "import app"
    
    frontend-checks:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout Code
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
              python-version: "3.12"

          - name: Install Dependencies
            run: |
              cd frontend
              pip install -r requirements.txt

          - name: Frontend Basic Import Checks
            run: |
              cd frontend
              python -c "import app"

    docker-build:
        runs-on: ubuntu-latest
        needs: [backend-checks, frontend-checks]
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Login to Docekr Hub
              run: |
                echo " ${{ secrets.DOCKER_PASSWORD }}" | 
                  docker login -u "${{ secrets.DOCKER_USERNAME }}"  --password-stdin
            
            - name: Build Backend Docker Image
              run: |
                cd backend
                docker build -t ${{ secrets.DOCKER_USERNAME }}/student-ui-backend:latest .
                
            - name: Build Frontend Docker Image
              run: |
                cd frontend
                docker build -t ${{ secrets.DOCKER_USERNAME }}/student-ui-backend:latest .

            - name: Push Backend Image to Docker Hub
              run: |
                docker push ${{ secrets.DOCKER_USERNAME }}/student-ui-backend:latest

            - name: Push Frontend Image to Docker Hub
              run: |
                docker push ${{ secrets.DOCKER_USERNAME }}/student-ui-frontend:latest